@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

/* pages and rabbit holes */
:root {
   --alien-green: #0AD3CE;
   --alien-glow: #ABFFFC;
   --alien-green-visited: #558AA4;
   --nostrich-purple: #7371FF;
   --nostrich-purple-visited: #4E4CAB;
   --shaka-yellow: #FFEE00;
   --shaka-glow: #E1DB85;
   --background: #06004D;
   --heading:#7371FF;
   --heading-shadow: #000000;
   --text: #7371FF;
   --text-shadow: #000000;
   --anchor-text: #A6AAFF;
   --anchor-text-hover: #ABFFFC;
         }
/* body */

*:focus-visible {
  /* Technically this is bad and something else should be done to indicate
	 * that something is in focus.
	 */
  outline: none;
  text-shadow: 2px 2px 4px var(--alien-green);
}

body {
  background: var(--background);
  color: #6200FF;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: var(--alien-green);
}
a:visited {
  color: var(--alien-green-visited);
}

button {
  cursor: pointer;
  border: solid 3px white;
  background-color: var(--alien-green);
  color: black;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: bold;
  vertical-align: bottom;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  transition: background 0.3s linear, color 0.3s linear;
}
button:hover {
  background: var(--shaka-glow);
  padding: 20px;
}
a.text {
  background: transparent;
  border: none;
  color: var(--nostrich-purple);
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
a.text:hover {
  color: var(--alien-green);
  font-size: 25px;
  padding: 20px;
}
a.text img.icon {
  width: 60px;
  height: 60px;
}

h1,
h2,
h3,
h4,
.h1-subtitle
 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  margin: 20px 0;
  padding: 0;
  line-height: 1;
}

/* type: colors & effects */

h1 {
  color: var(--alien-green);
  text-shadow: 2px 2px 4px #000000;
}

.h1-subtitle {
  color: var(--nostrich-purple);
  text-shadow: 2px 2px 4px var(--heading-shadow);
}

h2 {
  color: var(--anchor-text);
}
h3,
h4 {
  color: var(--heading);
}

p {
  color: var(--text);
}

/* type: size, margin, padding */
h1 {
  font-size: 64px;
  margin: 20px;
  padding-top: 35px;
}

.h1-subtitle {
  font-size: 32px;
  text-align: right;
  display: block;
  padding: 20px;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
  text-transform: none;
}
h4 {
  font-size: 20px;
  text-transform: none;
}
p {
  font-size: 20px;
  line-height: 2;
}

.italics {
  font-style: italic;
}
.bold {
  font-weight: 900;
}
a.bold {
  color: var(--anchor-text);
  text-decoration: none;
}

a.bold:hover {
  color: var(--anchor-text-hover) !important;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex !important;
}

.slide {
  background-image: url("assets/images/home/join-nostr.png");
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pos {
  position: absolute;
}
.pos.center {
  top: 67%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.pos.center-bottom {
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

#intro {
  width: 500px;
}

.info {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
.info > section {
  margin-bottom: 80px;
}
.sectional-img {
  margin: auto;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  max-width: 700px;
}

.logo-list {
  list-style: none;
  padding: 0;
}
.logo-list > li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
.logo-list > li a {
  text-decoration: none;
}
.logo-list img {
  width: 48px;
  height: 48px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.logo-list img.badge {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
.app-list {
}
.app-list > li {
  margin: 5px 10px 5px 0;
}
.font-small {
  font-size: 14px;
}
.question {
  font-weight: bold;
}
.question a {
  text-decoration: none;
}

@media (max-width: 600px) {
  #intro {
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
  .logo-list {
    text-align: center;
  }
}
