@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

*:focus-visible {
  /* Technically this is bad and something else should be done to indicate
	 * that something is in focus.
	 */
  outline: none;
}

body {
  background: white;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}
a {
  color: black;
}
a:visited {
  color: black;
}
button {
  cursor: pointer;
  border: solid 3px black;
  background: transparent;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: bold;
  vertical-align: bottom;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  transition: background 0.3s linear, color 0.3s linear;
}
button:hover {
  background: black;
  color: white;
}
button.text {
  background: transparent;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
button.text:hover {
  background: none;
  color: black;
}
button.text img.icon {
  width: 20px;
  height: 20px;
}

h1,
h2,
h3,
h4,
.h1-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  margin: 20px 0;
  padding: 0;
  line-height: 1;
}
h1 {
  font-size: 64px;
  margin: 20px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
  text-transform: none;
}
h4 {
  font-size: 20px;
  text-transform: none;
}
p {
  font-size: 20px;
}
.h1-subtitle {
  font-size: 32px;
  text-align: right;
  display: block;
  padding: 20px;
}

.italics {
  font-style: italic;
}
.bold {
  font-weight: 900;
}
a.bold {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex !important;
}

.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.pos {
  position: absolute;
}
.pos.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.pos.center-bottom {
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

#intro {
  width: 500px;
}
.info {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
.info > section {
  margin-bottom: 80px;
}
.sectional-img {
  margin: auto;
  margin-bottom: 30px;
  display: block;
  width: 96px;
  height: 96px;
}

.logo-list {
  list-style: none;
  padding: 0;
}
.logo-list > li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
.logo-list > li a {
  text-decoration: none;
}
.logo-list img {
  width: 48px;
  height: 48px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.logo-list img.badge {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.app-list {
}
.app-list > li {
  margin: 5px 10px 5px 0;
}
.font-small {
  font-size: 14px;
}
.question {
  font-weight: bold;
}
.question a {
  text-decoration: none;
}

@media (max-width: 600px) {
  #intro {
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
  .logo-list {
    text-align: center;
  }
}
